.search {
  width: 100%;
  display: flex;
  justify-content: center;
  
  &__input {
    height: 40px;
    width: 200px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
  }

  &__button {
    height: 40px;
    margin-left: 10px;
    background-color: darken(#FFDE00, 2%);
    border-radius: 5px;
  }
}