.header {
  position: relative;
  height: 50vh;
  // background-color: lightsalmon;

  
}

.text {
    
  img {
    width: 100%;
    z-index: -99;
  }
}

.navigation {
  text-align: center;
  // background-color: lightblue;

  &__list {
    display: inline-block;
    margin: 10px 0 ;
    list-style-type: none;
    padding-left: 0;

    &--item {
      display: inline;
    }

    &--link {
      padding: 10px 15px;
    }
  }
}

.text {
  text-align: center;
  margin-top: 50px;
}

.search {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  
  &__input {
    height: 40px;
    width: 200px;
    padding-left: 10px;
    border: none;
  }
}