<div class="[ container ] [ wrapper ]">
    <div class="[ row ]">
      <div *ngIf="specificCard">
        <div class="[ pokemoncards ]">
          <h5>{{ specificCard.name }}</h5>
          <img src="{{ specificCard.imageUrl }}" class="[ pokemoncards__img ]"><br>
          <button class="[ pokemoncards__button ]" (click)="openReadMore()">Read More</button>
          <div *ngIf="readMore" style="text-align: left;">

            <app-readmore [specificCard]="specificCard"></app-readmore>

          </div>
        </div>
      </div>
    </div>
  </div>
  
