/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(46, 122, 170) !important;
}

a {
  color: rgb(11, 16, 31) !important;
}

.center {
  text-align: center !important;
  margin: 0 auto !important;
}