/* You can add global styles to this file, and also import other style files */
body {
  background-color: lightskyblue !important;
}

a {
  color: #FFDE00 !important;
}

.center {
  text-align: center !important;
  margin: 0 auto !important;
}